{% extends "layouts/base-new.html" %}

{% load i18n %}

{% block header %}
{% include "layouts/header.html" %}
{% endblock header %}

{% block head_style %}
<link href="{% static 'css/flights.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="/static/plugins/intl-tel-input/css/intlTelInput.css">
{% endblock head_style %}

{% block content %}
<main class="main">
    <div class="centering-wrap guest-form">

        <div class="login-form">
            <!--latest offers-->
            <header class="s-title">
                <h2>Already Registered?</h2>
            </header>
            <form method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div>
                    {{login_form.non_field_errors}}
                </div>

                <div class="f-item full-width">
                    <label for="{{ login_form.login.id_for_label }}">Phone or Email</label>
                    <input type="text" name="login" placeholder="Phone or e-mail" autocomplete="email" required="" id="id_login">
                    {{ login_form.login.errors }}
                    <ul id="phoneError" class="errorlist"></ul>
                </div>
                <div class="f-item full-width">
                    <label for="{{ login_form.password.id_for_label }}">{{ login_form.password.label }}</label>
                    {{ login_form.password }}
                    {{ login_form.password.errors }}
                </div>
                <div class="f-item checkbox full-width">
                    {{ login_form.remember }}
                    <label for="{{ login_form.remember.id_for_label }}">{{ login_form.remember.label }}</label>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="f-item full-width">
                    <input type="submit" id="login" name="{% trans 'Log In' %}" value="Log In & Continue" class="gradient-button" />
                    <input type="button" onclick="location.href='/accounts/signup'" value="Create Account" class="gradient-button" />
                </div>
                <p><a href="{% url 'account_reset_password' %}" title="Forgot password?">Forgot password?</a><br />
            </form>
        </div>
    </div>
</main>

{% endblock content %}

{% block inline_javascript %}
<script src="/static/plugins/intl-tel-input/js/intlTelInput.js"></script>
<script>
    const input = document.querySelector("#id_login");
    const intlTelInput = window.intlTelInput(input, {
      preferredCountries: ['bd', 'gb', 'us', 'in'],
      utilsScript: "/static/plugins/intl-tel-input/js/utils.js",
    });


    $('#form_login').submit(function(e) {
      event.preventDefault(); //this will prevent the default submit
      // your code here
      $("#phoneError").empty();
      var isValid = intlTelInput.isValidNumber();
      if(!isValid) {
        $("#phoneError").append('<li>Phone number is invalid.</li>');
        return false;
      }
      $('#id_login').val(intlTelInput.getNumber());
      $(this).unbind('submit').submit();
    });

</script>



{% endblock inline_javascript %}