venv
envp/*
.env
__pycache__
**/__pycache__
db.sqlite3
book_flight_demo
credentials.txt
.env.prod*
tmp
.idea
/.dbdata/
deploy/data/
deploy/local.env
booking_app/.env
booking_app_project
db_data
.DS_Store
