<div class="flight-search-panel">
  <div class="flight-search-panel-header">
    <div class="flight-search-tag">
      Airports

    </div>
    <i class="fa-solid fa-xmark" id="close-search-box" onclick="closeSearchModel()"></i>
    <div class="mobile_search_box">
      <span id="mobileView_deparuter_at_input" ><input type="text" name="departure_at" autocomplete="off" class="banner-input-form input-form id_departure_at_mobileView" placeholder="From" maxlength="250" required="" id=""></span>
      
      <span id="mobileView_arrival_at_input"><input type="text" name="arrival_at" autocomplete="off" class="banner-input-form input-to id_arrival_at_mobileView" placeholder="To" maxlength="250" required="" id=""></span>
    </div>
  </div>
  <div class="flight-search-list" id="flight-search"></div>
</div>