{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Ural Holidays">
		<meta name="description"
			content="When it comes to picking from flight deals & airline tickets online, it is little tricky.
			Leave the worries behind and rely on uralholidays to book cheap flights."
		>
		<meta name="author" content="uralholidays">

		<title>Ural Holidays - Home</title>

		<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
		<link href="{% static 'fonts/fonts.css' %}" rel="stylesheet"/>
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" />
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-3048QZ9P15');
		</script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3048QZ9P15"></script>
		{% block style %}{% endblock style %}
	</head>
	<body>
		{% block header %}{% endblock header %}

		{% block content %}{% endblock content %}

		{% include './footer.html' %}

		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script
		  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		  crossorigin="anonymous"
		  ></script>
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'js/jquery.raty.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.js' %}"></script>
		<script src="{% static 'js/all-script.js' %}"></script>
		<script src="{% static 'js/search.js' %}" type="module"></script>
		<script>
			flatpickr(".banner-form-datepicker-area", {
				altFormat: "F j, Y",
				dateFormat: "Y-m-d",
				});
		</script>
		{% block javascript %}{% endblock javascript %}
	</body>
</html>
