body {background:url(../images/backgrounds/wild_oliva.png) 0 0 repeat;}

a,.widget a:hover,.widget a:focus,aside .widget h5,.main-search h5 span,.details .description a,.results.flights h5,.tab-content h2 a:hover,.tab-content h2 a:focus,.tab-content h3 a:hover,.tab-content h3 a:focus,.tab-content h4,.entry-meta span a:hover,.entry-meta span a:focus,.entry-header h2 a:hover,.entry-header h2 a:focus,.boxes article h4,blockquote i
{
	color:#111;
}

ul > li:before,.booking h2 span
{
	color:#333;
}

.social li a:hover,.social li a:focus,.pager .current,.pager a:hover,.contact:before,.header .ribbon,.destinations article .ribbon:hover,.view-type .active,.tags li:hover,.inner-nav li:hover,.inner-nav li.active,.inner-nav li.active:hover,.chart dd span,.infoBox,.lb-wrap,.ui-slider-horizontal .ui-slider-handle ,.image-overlay:before 	
{
	background:#333 !important;
}

.gradient-button,button, input[type="button"], input[type="reset"], input[type="submit"],.scroll-to-top,.testimonials,.ui-datepicker .ui-state-hover,.ui-datepicker .dp-highlight a,.ui-datepicker .dp-highlight span	     
{
	background: #333;
	background: -moz-linear-gradient(top, #333 0%, #111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#111));
	background: -webkit-linear-gradient(top, #333 0%,#111 100%);
	background: -o-linear-gradient(top, #333 0%,#111 100%);
	background: -ms-linear-gradient(top, #333 0%,#111 100%);
	background: linear-gradient(to bottom, #333 0%,#111 100%);
}

.gradient-button:hover,button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,.gradient-button:focus,button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus,.scroll-to-top:hover,.scroll-to-top:focus	   	
{
	background: #111;
	background: -moz-linear-gradient(top, #111 0%, #333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(100%,#333));
	background: -webkit-linear-gradient(top, #111 0%,#333 100%);	
	background: -o-linear-gradient(top, #111 0%,#333 100%);
	background: -ms-linear-gradient(top, #111 0%,#333 100%);
	background: linear-gradient(to bottom, #111 0%,#333 100%);
}

.scroll-to-top:before,
.ascending:hover:before,
.ascending:focus:before 			{border-color: transparent transparent #333 transparent;}

.scroll-to-top:hover:before,
.scroll-to-top:focus:before			{border-color: transparent transparent #111 transparent;}

.header .ribbon:before,
.descending:hover:before,
.descending:focus:before,
.infoBox:after 								{border-color:#333 transparent transparent transparent;}

.header .ribbon:after					{border-color: transparent #333 transparent transparent;}

.inner-nav li.active a:after 			{border-color: transparent transparent transparent #333;}

.ball,.ball1 									{border-color:#333;}

.lb-wrap h3,.lb-wrap label,.lb-wrap p,.lb-wrap .close,.s-title h2,.breadcrumbs,.breadcrumbs li a {color:#fff;}
.s-title h2,.boxes		{border-top-color:rgba(255, 255, 255, 0.2);}
.breadcrumbs			{-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2);-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.2);box-shadow:0 1px 0 rgba(255, 255, 255, 0.2);}
.breadcrumbs li a 	{-webkit-box-shadow:1px 0 0 rgba(255, 255, 255, 0.2);-moz-box-shadow:1px 0 0 rgba(255, 255, 255, 0.2);box-shadow:1px 0 0 rgba(255, 255, 255, 0.2);}
